.Ishop
{
    border: solid black 3px;
    width: 40%;
    margin: 40px auto;
}

.Ishop .ShopName
{
    color: purple;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    padding: 5px;
}

.Ishop .Items
{
    padding-top: 5px;
}

.Ishop .Items .item  .itemInfo
{
    float: right;
    width: 570px;
}

.Ishop .Items .item .itemImg
{
    max-width: 150px;
    max-height: 150px;
    padding: 0 0 10px 10px;
}

.Ishop .Items .item .itemInfo .itemName
{
    text-decoration: underline;
    color: blue;
}

.Ishop .Items .item  .itemInfo .itemPrice
{
    padding: 0 10px;
    font-size: 20px;
    font-weight: bold;
    color: #f2000b;
}

.Ishop .Items .item .itemInfo .itemInStock
{
    font-weight: bold;
}